.cases {
    padding: 70px 0 70px 0;
    &__items {
        display: grid;
        grid-template-columns: repeat(3, 229px);
        grid-template-rows: repeat(2, minmax(182px, auto));
        grid-auto-rows: minmax(182px, auto);
        row-gap: 40px;
        column-gap: 256px;
        
        justify-content: center;
        margin-top: 50px;
    }
    &__block {
        position: relative;
    }
    &__title {
        position: absolute;
        top: 27px;
        left: 43px;
        font-family: 'Bebas Neue';
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        color: #212121;
    }
    &__descr {
        margin-top: 30px;
        font-weight: 400;
        font-size: 17px;
        line-height: 27px;
        color: #212121;
    }
}