.questions {
    padding: 70px 0;
    &__wrapper {
        margin-top: 50px;
        box-shadow: 0px 4px 50px rgba(26, 61, 138, 0.15);
    }
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-height: 90px;
        padding: 30px 40px;
    }
    &__head:not(:first-child) {
        border-top: 2px solid rgba(0,0,0, .07);
    }
    &__title {
        font-weight: 500;
        font-size: 19px;
        line-height: 27px;
    }
    &__plus {
        position: relative;
        width: 26px;
        height: 26px;
        transition: all .7s;
        cursor: pointer;
        .vertical {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: 26px;
            background-color: $secondary-color;
        }
        .horizon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 26px;
            height: 2px;
            background-color: $secondary-color;
        }
        &-active {
            transform: rotate(135deg)
        }
    }
    &__content {
        overflow: hidden;
        opacity: 0;
        max-height: 0px;
        transition: .5s ease-out;
        &-active {
            overflow: visible;
            opacity: 1;
        }

    }
    &__text {
        padding-left: 40px;
    }
    &__list {
        margin-bottom: 0;
        padding-top: 10px;
        padding-bottom: 40px;
        padding-left: 55px;
    }
}